@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility font-poppins {
  font-family: var(--font-poppins);
}

@utility font-poppins-regular {
  font-family: var(--font-poppins);
  font-weight: 400;
}

@utility font-poppins-semibold {
  font-family: var(--font-poppins);
  font-weight: 600;
}

@utility font-poppins-bold {
  font-family: var(--font-poppins);
  font-weight: 700;
}

@theme {
  --color-dark-green:    #0F2D25;
  --color-dark-sage:     #24433B;
  --color-sage:          #6D7E76;
  --color-ivory:         #E0D7B7;
  --color-parchment:     #F7F4EE;
  --color-almost-black:  #211A1D;
  --color-sky-blue: #DAF5FF;
  --color-light-gold: #F4E781;
  --color-orange-glow: #FD7121;
  --height-sign-in-modal: 600px;

  --text-display: 45px;
  --text-display--line-height: 1;
  --text-display--letter-spacing: 0em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
